<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<?php include ("product.php"); ?>

<form action="product.php" method="POST" role="form">
    <legend>Add product</legend>

    <div class="form-group">
        <label for="">name</label>
        <input type="text" name = "name" class="form-control" id="" placeholder="Input field">
    </div>

    <div class="form-group">
        <label for="">price</label>
        <input type="text" name = "price" class="form-control" id="" placeholder="Input field">
    </div>



    <button type="submit" name ="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>